
/* Main Styles ====================================*/

* {
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
}

.intro-news {
  text-align: center;
}

fieldset {
  border: none;
  padding-left: 0;
}

::placeholder {
  text-align: right;
  font-style: italic;
}

select:invalid {
  color: #999;
}

option {
  text-transform: capitalize;
}

input,
select,
textarea {
  padding: .5em 1em .5em;
  border-radius: 5px;
  background-color: #e6e6e6;
}

.container {
  margin: 2em 1em;
}

.main-header {
  background-color: darkgray;
  padding: 10px;
  text-align: center;
  color: white;
}

.contact-info,
.newsletter {
  border-top: 1px solid black;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}












/* Layout Styles ====================================*/

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input[type='checkbox'] {
  display: inline-block;
}
































/*  Media Queries ========================*/

@media (min-width: 768px) {

}
